# Add any directories, files, or patterns you don't want to be tracked by version control
*.pdf
*.aux
*.out
*.log
*.toc
*.bbl
*.blg
*.odt
*.tdo
*.synctex.gz
*.odt.classpath
*.pytxcode
pythontex*
*.lof

*.fdb_latexmk
*.fls
*.loe
*.bcf
*.run.xml
